## Conditonal and Decision Statements

In [10]:
a=int(input())
b=int(input())
c=int(input())
if a>b:
    if a>c:
        print(a)
    else:
        print(c)
elif b>a:
    if b>c:
        print(b)
    else:
        print(c)

8
2
4
8

In [17]:
s=['1','2','3']
s=list(map(int,s))
s

[1, 2, 3]

In [16]:
s

In [23]:
n,k=map(int,input().split())
print(n,k)

5 6
5 6

In [1]:
rows, cols = (5, 5) 
arr = [[0 for i in range(cols)] for j in range(rows)] 
print(arr)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [2]:
arr[0]

[0, 0, 0, 0, 0]

In [3]:
tmp=[]
for i in range(5):
    tmp+=arr[i]
print(tmp)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [11]:
s=[1,2,3,4,5]
s=set(s)

In [12]:
s

{1, 2, 3, 4, 5}

In [7]:
s.add(1)

In [8]:
s

{1, 2, 3, 4, 5}

In [10]:
while(len(s)!=0){
    tmp1=s.pop()
    tmp2=s.pop()
    
}

5

In [7]:
s=[2,1,2, 7, 1, 9 ,3 ,6 ,8, 8]
def fun (x):
    x=[2 ,1 ,8 ,3]
    return x
s.sort(key=fun)
s

[2, 1, 2, 7, 1, 9, 3, 6, 8, 8]

In [14]:
for i in range(1,11):
    print(f"{5:<2} ^ {i:>2} = {5**i}")

5  ^  1 = 5
5  ^  2 = 25
5  ^  3 = 125
5  ^  4 = 625
5  ^  5 = 3125
5  ^  6 = 15625
5  ^  7 = 78125
5  ^  8 = 390625
5  ^  9 = 1953125
5  ^ 10 = 9765625

In [6]:
from random import randint,choice
chance=0
user_win=0
cpu_win=0
while(chance!=5):
    user=int(input("input de!"))
    if(user>50 or user <1):
        print("invalid no")
        continue
    else:
        t=randint(1,50)
        print(f"cpu chose{t}")
        if(t<user):
            print("Bada socha")
            chance+=1
            user_win+=1
            if user_win==3:
                print("user wins")
                break
            continue
        elif(t>user):
            print("chota socha")
            chance+=1
            cpu_win+=1
            if cpu_win==3:
                print("cpu wins")
                break
            continue
        else:
            print("equal socha.. user wins")
            break

input de!5
cpu chose14
chota socha
input de!45
cpu chose48
chota socha
input de!21
cpu chose37
chota socha
cpu wins

In [2]:
ord("john")

TypeError: ord() expected a character, but string of length 4 found

In [24]:
s=['ar','vr']
data=dict()
data.update([(s[0],0)])
data.update([(s[1],1)])

In [25]:
data

{'ar': 0, 'vr': 1}

In [26]:
data[s[0]]+=1

In [32]:
data.sort()

AttributeError: 'dict' object has no attribute 'sort'

In [28]:
s[0] in data

True

In [31]:
print(f"{max(data)} {max(data.values())}")

vr 1

In [1]:
s='GeeksForGeeks'
s=s.split("For")

In [2]:
s

['Geeks', 'Geeks']

In [3]:
buy=2
sell=3
print("(",buy," ",sell,")",sep='')

(2 3)

In [1]:
a=[1,2,3,40]
s=[]
s.append(a[1])

In [2]:
s

[2]

In [3]:
t=int(input())
for var in range(t):
    n=int(input())
    arr=list(map(int,input().split()))
    s=[]
    ans=[]
    for i in range(n-1,-1,-1):
        while len(s)!=0 and arr[i]>=s[len(s)-1] :
            s.pop()
        if len(s)==0:
            ans.append(-1)
        else:
            ans.append(s[len(s)-1]
        s.append(arr[i])
    print(*ans)

SyntaxError: invalid syntax (<ipython-input-3-4cf868529531>, line 14)

In [6]:
a='33'
b='2'
print(str(int(a)*int(b)))

66

In [3]:
int('10101',base=13)

28731

In [4]:
bin(2837)

'0b101100010101'

In [9]:
s='hey there'
s=list(s)
s

['h', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e']

In [11]:
s.pop(3)

' '

In [15]:
s=''.join(s)

In [16]:
s

'heythere'

In [29]:
for _ in range(int(input())):
    s=input()
    s=list(s)
    n=len(s)
    h=[0]*200
    c=0
    l=[]
    for i in range(n):
        if s[i]==' ':
            continue
        elif h[ord(s[i])]==-1:
            s[i]='0'
        else:
            h[ord(s[i])]=-1
    for i in s:
        if i!='0':
            l.append(i)
        
    print(*l)

1
geeksforgeeks
g e k s f o r

In [1]:
from math import ceil
ceil(3/2)

2

In [7]:
s='heythere'
s=s.replace('e','')
s

'hythr'

In [8]:
for i in s:
    print(i)

h
y
t
h
r

In [9]:
ord('@')

64

In [1]:
import pandas as pd

In [2]:
data=pd.read_excel('/home/nagar/python/SampleData.xlsx')

In [3]:
print(data)

    Unnamed: 0 Unnamed: 1                                         Unnamed: 2
0          NaN        NaN                                                NaN
1          NaN        NaN                                                NaN
2          NaN        NaN                                                NaN
3          NaN        NaN                            Online Instruction Page
4          NaN        NaN                              Sample Data for Excel
5          NaN        NaN                                                NaN
6          NaN        NaN                                  Related tutorials
7          NaN        NaN                                 Named Excel Tables
8          NaN        NaN                                    Data Entry Tips
9          NaN        NaN                                                NaN
10         NaN        NaN                       Related Contextures Products
11         NaN        NaN                     Contextures Excel Tools Add-in
12         NaN        NaN                               Data Entry Popup Kit
13         NaN        NaN                                                NaN
14         NaN        NaN  Get weekly Excel tips, tutorials, videos, and ...
15         NaN        NaN                       Contextures Excel Newsletter
16         NaN        NaN                                                NaN
17         NaN        NaN                                              Notes
18         NaN          •  SalesOrders sheet has sales data for a fiction...
19         NaN          •  The Total column could be changed to a formula...

In [4]:
data[2:6]

   Unnamed: 0 Unnamed: 1               Unnamed: 2
2         NaN        NaN                      NaN
3         NaN        NaN  Online Instruction Page
4         NaN        NaN    Sample Data for Excel
5         NaN        NaN                      NaN

In [1]:
max("david","mike")

'mike'

In [1]:
int('1234',base=62)

ValueError: int() base must be >= 2 and <= 36, or 0

In [4]:
from math import ceil,sqrt
def isPrime(n):
    if n==2:
        return True
    elif n==1:
        return False
    elif n%2==0:
        return False
    k=ceil(sqrt(n)+1)
    for i in range(2,k):
        if n%i==0:
            return False
    return True

isPrime(3)

True

In [1]:
bin(89384)

'0b10101110100101000'

In [1]:
list(1234)

TypeError: 'int' object is not iterable

In [6]:
n=int(input())
for i in range(n+1):
    print(" "*(n-i),"*"*(2*i-1)," "*(n-i))

6

      *
     ***
    *****
   *******
  *********
 ***********

In [7]:
a='100'
a+=('0'*3)
print(a)

100000

In [1]:
2^7

5

In [4]:
~(2^7)

-6

In [6]:
print(22/7,.2f)

SyntaxError: invalid syntax (<ipython-input-6-21fc8f05cf12>, line 1)