In [3]:
import pymysql as sql

In [4]:
db = sql.connect(host="127.0.0.1",port=3306,user='root',password='',database='world')

In [5]:
cur=db.cursor()

In [8]:
cmd="select name,population from Country order by population desc limit 10"

In [9]:
cur.execute(cmd)

10

In [10]:
data=cur.fetchall()

In [11]:
data[1]

('India', 1013662000)

In [12]:
for country,population in data:
    print(f"{country:>10}\t\t{population:>10}")
    print("_"*40)

     China		1277558000
________________________________________
     India		1013662000
________________________________________
United States		 278357000
________________________________________
 Indonesia		 212107000
________________________________________
    Brazil		 170115000
________________________________________
  Pakistan		 156483000
________________________________________
Russian Federation		 146934000
________________________________________
Bangladesh		 129155000
________________________________________
     Japan		 126714000
________________________________________
   Nigeria		 111506000
________________________________________